.contact {
  position: relative;
  @include fit('padding-top', 70, 20, 1);
  @include fit('padding-bottom', 40, 500, 1);

  &__map iframe {
    position: absolute;
    z-index: 0;
    content: '';
    width: 100%;
    @include fit('min-height', 665, 1095, 1);
    bottom: 0;
    left: 0;
    opacity: .65;
    filter: grayscale(100%) invert(92%) contrast(83%);
  }
  &__main {
    position: relative;
    z-index: 1;
    background: #2E2B2C;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: rem(15);
    max-width: rem(526);
    padding: rem(25) 0;
    @include tablet {margin: 0 auto;}
  }
  &__col {
    position: relative;
    display: flex;
    flex-direction: column;
    @include fit('padding-left', 40, 20, 1);
    padding-right: rem(20);
    &:nth-child(2), &:nth-child(3) {
      @include fit('padding-left', 43, 20, 1);
      padding-top: rem(15);
      margin-top: rem(28);

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: radial-gradient(circle, rgba(186, 186, 186, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
        background-size: cover;
      }
    }
  }
  &__header {
    @include tablet {text-align: center;}
  }
  &__body {
    gap: rem(20);
  }
  &__bottom {
    gap: rem(30);
    @include tablet {gap: rem(20);}
  }
}

.header-contact {
  &__title {
    font-weight: 700;
    font-size: rem(30);
    line-height: rem(36);
    color: #fff;
  }
}

.body-contact {
  &__row {
    display: flex;
    gap: rem(11);
  }
  &__icon {
    font-size: rem(16);
  }
  &__label {
    font-size: rem(14);
    line-height: rem(16);
  }
  &__text {
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(19);
    color: #fff;
  }
}

.bottom-contact {
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {gap: rem(33);}
    &:last-child {gap: rem(26);}
    @include tablet {
      gap: rem(20) !important;
      flex-direction: column;
    }
  }
  &__btn {
    padding: rem(21) rem(30);
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__tel {
    font-weight: 700;
    font-size: rem(23);
    line-height: rem(28);
    color: #fff;
  }
  &__label {
    font-size: rem(13);
    line-height: rem(15);
  }
  &__text {
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(19);
  }
  &__list {
    display: flex;
    gap: rem(10);
  }
}