.footer {
  position: relative;
  background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
  &__main {
    display: grid;
    align-items: center;
    grid-template: minmax(rem(195), auto) / minmax(auto, rem(373)) 1fr;
    @include tablet {
      text-align: center;
      grid-template: minmax(rem(229), auto) / 1fr;
    }
  }
  &__info {
    justify-self: center;
  }
  &__up {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(64);
    height: rem(64);
    @include fit('left', 40, 20, 1);
    @include fit('top', 50, 20, 1);
    border-radius: 50%;
    background-color: #fff;
    transition: .3s;

    & span {
      @include arrow(up, #000, rem(2), rem(7));
      transform: rotate(-135deg) translate(-2px, -2px);
      transition: .3s ease;
    }
    &:hover {
      & span {
        transform: rotate(-135deg) translate(0);
      }
    }
    @include mq(rem(1440)) {
      width: rem(50);
      height: rem(50);
    };
  }
}

.info-footer {
  &__copyright {
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(14);
    padding: rem(15) 0 rem(7) 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }
  &__link {
    position: relative;
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(16);
    color: #FFFFFF;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: rem(-3);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.menu {
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include fit('grid-column-gap', 40, 10, 1);
  }
  &__link {
    position: relative;
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(24);
    color: #FFFFFF;
    transition: .3s ease;

    &:hover {color: $green;}
  }
}
