.products-menu {
  &__wrapp {
    position: relative;
  }
  &__main {
    display: flex;
    align-items: center;
    padding: rem(28) 0;
    overflow: auto;
  }
  &__list {
    display: flex;
    gap: rem(40);
    padding: 0 rem(10);
  }
  &__item {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-size: rem(18);
    transition: .3s ease;

    &.active {
      color: #fff;
    }
  }
  &__line {
    position: absolute;
    width: 160px;
    height: 3px;
    left: 10px;
    bottom: 0;
    background: #618967;
    box-shadow: 0px 5px 12px rgba(114, 164, 121, 1);
    transition: .3s ease;

    @include mq(rem(550)) {
      max-width: 0;
      opacity: 0;
    }
  }
}
