.products-menu {
  &__main {
    display: flex;
    align-items: center;
    padding: rem(28) 0;
  }
  &__list {
    display: flex;
    gap: rem(40);
  }
  &__item {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-size: rem(18);

    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 3px;
      left: 0;
      bottom: rem(-30);
      background: #618967;
      box-shadow: 0px 5px 12px rgba(114, 164, 121, 1);
      transition: .3s ease;
    }
    &.active {&::before {width: 100%;}}
  }
}
