.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ibga { 
  position: relative;
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo {
  font-weight: 700;
  font-size: rem(25);
  line-height: rem(25);
  letter-spacing: 0.15em;
  & a {color: #FFFFFF;}
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: rem(10);
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(17);
  background: linear-gradient(to right, #618967 0%, #72A479 100%);
  color: #FFFFFF;
  transition: .3s ease;
  @include pc {&:hover {box-shadow: 0 0 9px rgba(114, 164, 121, .5);}}
}

.title {
  position: relative;
  font-family: 'Gilroy';
  font-weight: 700;
  @include fit('font-size', 32, 20, 1);
  @include fit('line-height', 39, 24, 1);
  text-transform: uppercase;
  padding: 0 0 0 rem(34);
  color: #FFFFFF;

  &::before {
    position: absolute;
    content: '';
    left: rem(11);
    top: 0;
    height: 100%;
    width: 3px;
    background-color: $green;
  }
}

.card {
  cursor: pointer;
  position: relative;
  display: grid;
  max-width: 325px;
  transition: .3s ease;

  @include pc {&:hover {box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);}}
  &__counter {
    position: absolute;
    z-index: 2;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    content: '';
    right: rem(-20);
    top: rem(-20);
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    background-color: $green;

    font-weight: 700;
    font-size: rem(20);
    line-height: rem(24);
    color: #FFFFFF;
  }
  &__image {
    border-radius: rem(10) rem(10) 0 0;
    min-height: rem(227);
    overflow: hidden;
  }
  &__body {
    border-radius: 0 0 rem(10) rem(10);
    overflow: hidden;
    padding: rem(15) rem(16) rem(18) rem(20);
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  }
  &__body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body-title {
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(27);  
  }
  &__body-wages {
    font-size: rem(12);
    line-height: rem(14);
    color: #FFFFFF;
  }
  &__body-text {
    margin: rem(5) 0 rem(15) 0;
    font-size: rem(13);
    line-height: rem(17);
  }
  &__body-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body-price {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #FFFFFF;
  }
  &__body-btn {
    padding: rem(13) rem(10) rem(13) rem(19);
    display: flex;
    align-items: center;
    gap: rem(12);
    font-weight: 600;
    font-size: rem(14);
    line-height: rem(17);
    color: #FFFFFF;

    & span {
      font-size: rem(20);
    }
  }
  &__body-hover {
    // display: flex;
    display: none;
    justify-content: space-between;
    & button {
      font-weight: 700;
      font-size: rem(30);
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(62);
      height: rem(44);
    }
  }
}