$container: rem(1320);
$ff: 'Gilroy';
$fw: 400;
$bg: #44403F;
$mc: #CFCFCF;
$green: #618967;

html {scroll-behavior: smooth; font-size: 100%;}
body {font-family: $ff;font-weight: $fw;color: $mc; background: $bg;}
.app {display: flex;flex-direction: column;height: 100%;}
.main {flex: 1 1 auto;}
.container {max-width: $container;margin: 0 auto;padding: 0 rem(15);}